# Ignore build outputs
/build/

# Ignore Gradle-related files
.gradle/
*.gradle

# Ignore local configuration files
local.properties

# Ignore Android Studio files
.idea/
*.iml

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Kotlin-specific files
*.kotlin_modules

# Ignore log files, heap dumps, etc.
*.log
*.hprof
